node_modules
.git
.gitignore
Dockerfile*~
*.log
*.md
data/
data/*
*.bak*
dist/
coverage/
.DS_Store
.env
.vscode/
tmp/
*.pem
npm-debug.log
package-lock.json
yarn.locknode_modules
.git
/tmp
dist
build
*.log
Dockerfile
README.md
/.github
